language: python
python:
 - 2.6
 - 2.7
 - 3.3
 - "pypy"

install:
    - pip install requests lxml coverage coveralls

script:
    # here we run test suite for setup.py installed package
    # - setup.py should install all required deps
    - coverage run --source=frogress setup.py test
    - ./examples.py

after_success:
    - coverage report --omit="frogress/tests/*" -m
    - coveralls

notifications:
  irc: "irc.freenode.net#frogress"

